

.admin {
    width: 100%;
    height: auto;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }

    &__title {
        padding: 0;
        margin: 0;
        color: #7AC751;
    }

    &__main {
        padding: 0;
        margin: 0;
        font-size: 22px;
        font-weight: 600;
        color: black;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: #7AC751;
            transition: all .3s;
        }
    }

    &__content {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__items{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        margin: 0 20px;
        cursor: pointer;
    }

    &__items_title{
        position: absolute;
    }

    &__items_img{
        width: 260px;
        height: 280px;
        border: 1px solid rgb(64, 64, 64);
        border-radius: 12px;
    }
}