.slider {
    &__wrap {
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        position: relative;
        margin-left: 22%;
        margin-bottom: 68px;
    }

    &__img{
        width: 100%;
        height: auto;
        transition: all .3s;
        cursor: pointer;
    }

    &__paginate {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    &__page {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        opacity: 29%;
        background-color: #7AC751;
        margin-left: 20px;
        border: none;
        transition: all .3s;
    }

    &__page.active {
        opacity: 100%;
        transition: all .3s;
    }
}

@media(max-width: 920px) {
    .slider__wrap{
        margin-left: 0;
    }
}