.slider {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;

    &__wrap {
        max-width: 900px;
        height: auto;
        overflow: hidden;
        display: flex;
        position: relative;
        margin-bottom: 68px;
    }

    &__img_wrap {
        max-width: 900px;
        height: auto;
        display: flex;
        cursor: pointer;
        border: 1px solid red;
    }

    &__img {
        max-width: 900px;
        height: 440px;
        /////////////////
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: all .3s;
        border: 1px solid green;
    }

    &__test {
        min-width: 100vw;
        height: auto;
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__paginate {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    &__page {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        opacity: 29%;
        background-color: #7AC751;
        margin-left: 20px;
        border: none;
        transition: all .3s;
    }

    &__page.active {
        opacity: 100%;
        transition: all .3s;
    }
}

@media(max-width: 920px) {
    .slider {
        // justify-content: flex-start;
    }

    // .slider__wrap {
    //     margin-left: 0;
    //     max-width: 0;
    //     width: 100%;
    // }

    .slider__img_wrap {
        margin-top: 50px;
    }
}