.header {
    width: 100%;
    height: 50px;
    background-color: #7AC751;
    margin-bottom: 92px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
    }

    &__text {
        font-size: 16px;
        color: #fff;
        position: relative;
        bottom: - 6px;
    }

    &__lang {
        font-size: 16px;
        color: #fff;
        margin-right: 30px;
        background-color: transparent;
        border: none;
    }

    &__auth {
        font-size: 16px;
        color: #fff;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 19px;
            top: 0;
            left: -16px;
            right: 0;
            bottom: -1px;
            background-color: #fff;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__logo_text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #555;
        position: relative;
        top: 4px;
        left: 6px;
    }

    &__search{
        margin-top: 25px;
    }

    &__icons {
        display: flex;
        position: relative;
    }

    &__icon {
        width: 26px;
        height: 26px;
        margin-right: 28px;
        cursor: pointer;
    }

    &__icon_cart {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #7AC751;
        font-size: 10px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        position: absolute;
        top: 0;
        left: 20px;
    }
}