.ofer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;

    &__item {
        width: 570px;
        height: 280px;
        position: relative;
        margin-bottom: 20px;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__discont {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 23px;
        flex-shrink: 0;
        border-radius: 0px 0px 0px 5px;
        background: #00B7F1;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        position: absolute;
        display: block;
        width: 240px;
        height: 28px;
        margin: 28px 0 31px 24px;
    }

    &__title {
        color: #555;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 11px;
    }

    &__text {
        color: #757575;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &__price {
        display: flex;
    }

    &__price_new,
    &__price_old {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.09px;
    }

    &__price_new {
        color: #7AC751;
    }

    &__price_old {
        color: #CCC;
        text-decoration: line-through;
        margin-left: 8px;
        margin-right: 10px;
    }

    &__btn {
        width: 91px;
        height: 26px;
        flex-shrink: 0;
        border-radius: 2px;
        background: #7AC751;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__time {
        display: flex;
        position: absolute;
        left: 24px;
        bottom: 29px;
    }

    &__circle {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #7AC751;
        margin-right: 18px;
    }

    &__circle_count {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__circle_desc {
        color: #FFF;
        text-align: center;
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.03px;
        text-transform: uppercase;
    }
}
@media(max-width: 1140px) {
    .ofer{
        justify-content: center;
    }
}

@media(max-width: 920px) {
    .ofer{
        justify-content: center;
    }
    .ofer__item{
        width: 100%;
        height: 360px;
    }
}

@media(max-width: 560px) {
    .ofer__item{
        height: 260px;
    }
}

@media(max-width: 360px) {
    .ofer__item{
        height: 240px;
    }
}