.categories {
    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__li {
        margin-right: 66px;
    }

    &__link {
        color: #C2C2C2;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: all .3s;
    }
}

.categories__link.active {
    color: #7AC751;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s;
}

@media(max-width:860px) {
    .categories__list {
        justify-content: space-around;
    }

    .categories__li {
        margin: 0;
    }
}

@media(max-width:660px) {
    .categories__list {
        justify-content: space-around;
        flex-direction: column;
    }

    .categories__li {
        margin: 0;
        margin-bottom: 4px;
        margin-left: 2%;
    }
}