@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url(../asets/fonts/Rubik-VariableFont_wght.ttf) format('opentype');
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    word-break: break-all;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
}

body {
    font-family: "Rubik";
    font-weight: 300;
}

input {
    outline: none
}

select {
    border:0px;
    outline:0px;
 }