.service {
    display: flex;
    justify-content: space-between;

    &__add_btn {
        border: 2px solid #7AC751;
        border-radius: 8px;
        height: 46px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        background-color: #ffffff;

        &:hover {
            transition: all .3s;
            background-color: #eeeeee;
        }
    }

    &__serch {
        width: 280px;
    }

    &__wrap{

    }

    

    &__sort {
        position: relative;
        height: 30px;
        transition: all .3s;
        &:hover {
            .service__list {
                top: 30px;
                transition: all .5s;
                opacity: 1;
                z-index: 4;
            }
        }
    }

   

    &__label {
        background-color: #7AC751;
        color: #fff;
        width: 120px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }



    &__arrow {
        margin: 0 6px;
        position: relative;
    }

    &__list {
        position: absolute;
        overflow: hidden;
        top: -2000%;
        z-index: 1;
        opacity: 0;
        transition: all 1.3s;
    }

    &__category {
        padding: 0 8px;
        width: 120px;
        background-color: #eeeeee;
        border: 1px solid rgb(212, 212, 212);
        cursor: pointer;
    }
}