.cart {
    width: 100%;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0;
    }

    &__title {
        padding: 0;
        margin: 0;
        color: #7AC751;
    }

    &__main {
        padding: 0;
        margin: 0;
        font-size: 22px;
        font-weight: 600;
        color: black;
        transition: all .3s;

        &:hover {
            color: #7AC751;
            transition: all .3s;
        }
    }

    &__list {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(170, 170, 170);
        margin-bottom: 20px;
    }

    &__item_img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__item_count {
        margin: 0 10px;
    }

    &__item_delete {
        margin-right: 20px;
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn_oder {
        width: 250px;
        height: 50px;
        border-radius: 33px;
        background-color: #fff;
        border: 2px solid #7AC751;
    }

    &__count,
    &__sum {
        font-weight: 600;
    }

    &__order_wrap{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__order{
        width: 290px;
        height: 200px;
        border: 2px solid #7AC751;
        border-radius: 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba($color: #9f9f9f, $alpha: 0.2);
        align-items: center;
        position: relative;
    }

    &__order_title{
        margin-top: 20px;
    }

    &__order_input{
        width: 260px;
    }

    &__order_back{
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
    }

    &__order_btn{
        width: 100px;
        height: auto;
        border: 2px solid #7AC751;
        border-radius: 12px;
        background-color: transparent;
    }
}



@media(max-width:640px) {
    .cart__action {
        flex-direction: column;
        margin-left: 0;
    }

    .cart__btn_oder {
        margin-bottom: 8px;
    }
}

@media(max-width:480px) {
    .cart__info {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
}